@import url('https://fonts.googleapis.com/css?family=Mali');

.App {
  text-align: center;
  background-color:#FFFFFF;
  font-family: 'Mali', cursive;

}

.header
{ height:220px;
  width:100%;
  margin:0 auto;
}
.headerLeft
{width:1%;
 background-image:url(./styles/wrapper-bg.jpg);
 background-repeat:no-repeat;
 height:216px;
 float:left;
 margin:0 auto;


} 
.headerMid
{
 width:98%;
 background-image: url(./styles/wrapper-bg-mid.jpg);
 height:216px;
 float:left;
 background-repeat:repeat-x;
 margin:0 auto;

}
.headerRight
{width:1%;
 background-image: url(./styles/wrapper-bg-right.jpg);
 background-repeat:no-repeat;
 height:216px;
 float:right;
 margin:0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selectedTab {
  height: 30px;
  background-color: darkgray;
}